

    <body>
        <div class="container">
        <div class="jumbotron wallcolor" >
            
            <div class="row">
            <div class="col-lg-6">    
            <h4>Career Objective:</h4><textarea class="form-control"></textarea>
            </div>
            </div>
                <br>

            <form>
                    <fieldset class="scheduler-border">
                <legend class="scheduler-border" style="color: white">
                    Career Interest
                    </legend>
                    <div class="row">
                    <div class="col-lg-3">
                        <input type="checkbox">IT, Software Services
                        </div>
                        <div class="col-lg-3">
                        <input type="checkbox">ITES/BPO
                        </div>
                        <div class="col-lg-3">
                        <input type="checkbox">CoreEngg
                        </div>
                        <div class="col-lg-3">
                        <input type="checkbox">Banking/Finance
                        </div>
                        
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-4">
                        <input type="checkbox">Telecom    
                        </div>
                        <div class="col-lg-4">
                        <input type="checkbox">Automobile
                        </div>
                        <div class="col-lg-4">
                        <input type="checkbox">Marketing    
                        </div>
                    </div>
                        </fieldset>
                </form>
            <br>
            
            <form>
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border" style="color: white">Technical Proficiency:</legend>
                    <div class="row">
                        <div class="col-lg-2">
                            <input type="checkbox">C
                        </div>
                        <div class="col-lg-2">
                            <input type="checkbox">C++
                        </div>
                        <div class="col-lg-2">
                            <input type="checkbox">JAVA
                        </div>
                        <div class="col-lg-2">
                            <input type="checkbox">WebSphere
                        </div>
                        <div class="col-lg-2">
                            <input type="checkbox">.Net
                        </div>
                            <div class="col-lg-2">
                            <input type="checkbox">As400
                            </div>
                    </div>
                    <br>
                    
                    <div class="row">
                        <div class="col-lg-2">
                            <input type="checkbox">Mainframes
                        </div>
                        <div class="col-lg-2">
                            <input type="checkbox">Database
                        </div>
                        <div class="col-lg-2">
                            <input type="checkbox">Software Testing
                        </div>
                        <div class="col-lg-2">
                            <input type="checkbox">Networking
                        </div>
                        <div class="col-lg-2">
                            <input type="checkbox">Weblogic
                        </div>
                        <div class="col-lg-2">
                            <input type="checkbox">J2EE
                        </div>
                    </div>
                    <br>
                    
                    <div class="row">
                        <div class="col-lg-4">
                            <input type="checkbox">PHP
                        </div>
                        <div class="col-lg-4">
                            <input type="checkbox">Others
                        </div>
                        <div class="col-lg-4">
                            Others(specify):<input class="form-control" type="text">
                        </div>
                    </div>
                
                </fieldset>
            </form>
            <br>
            
            <form>
                <fieldset class="scheduler-border">
                <legend class="scheduler-border" style="color: white">
                    Typing Proficency:
                    </legend>
                    <div class="row">
                    <div class="col-lg-2">
                        <input type="checkbox">Junior
                        </div>
                        <div class="col-lg-2">
                        <input type="checkbox">Senior
                        </div>
                        <div class="col-lg-2">
                        <input type="checkbox">High Speed
                        </div>
                        <div class="col-lg-3">
                        <input type="checkbox">Short Hand
                        </div>
                        <div class="col-lg-3">
                        <input type="checkbox">None
                        </div>
                    </div>
                </fieldset>
            </form>
            <br>
            <form>
                <fieldset class="scheduler-border">
                <legend class="scheduler-border" style="color: white">
                    Delcaration:
                    </legend>
                    <h6>
                        I Declare that the information provided here is true to the best of my knowledge. I hereby agree that I would take / encourage necessary steps for my profile to be updated on www.naukri.com or any other job portal/consultancy through the weblinks on www.techruit.in website and agree to receive job related mails/SMS that Techruit feels would increase the probability of me securing suitable jobs. 
                    </h6>
                </fieldset>
            </form>
            <br>
             <form>
                <fieldset class="scheduler-border">
                <legend class="scheduler-border" style="color: white">
                    Upload Resume:
                    </legend>
                    <div class="row">
                        <div class="col-lg-4"><input type="file" class="btn btn-primary form-control">
                        </div>
                    </div>    
                    <br>
                    <div class="row">
                        <div class="col-lg-4"><button type="submit" class="btn btn-primary">UpLoad</button></div>
                    </div>
                </fieldset>
            </form>
           
            
            </div>
        </div>
    
    </body>
