
<body>
        <div class="container">
            <div class="jumbotron wallcolor">
                <div class="table-responsive">
               <table class="table " >
               <thead>
                   <tr>
                     <th>
                        <label>Qualification</label>
                       </th>
                       <th>
                     <label> Course</label>
                       </th>
                       <th>
                       <label>Branch/Specialisation</label>
                       </th>
                       <th>
                       <label>School/College
                        <sub>Name</sub></label>
                       </th>
                       <th>
                       <label>Board/University</label>
                       </th>
                       <th>
                       <label>%</label>
                       </th>
                       <th>
                       <label>Year of Completion</label> 
                       </th>
                        
                  </tr>
                   </thead>
                    <tbody>
                   <tr>
                   <th>
                    <label>SSLC</label>
                       </th>
                       <td>
                       <input type="text" class="form-control"  required>
                       </td>
                       <td>
                       <input type="text" class="form-control" required>
                       </td>
                       <td>
                       <input type="text" class="form-control" required>
                       </td>
                       <td>
                       <input type="text" class="form-control" required>
                       </td>
                       <td>
                       <input type="text" class="form-control" required>
                       </td>
                       <td>
                       <input type="text" class="form-control" required>
                       </td>
                   </tr>
                        <tr>
                        <th><label><input type="checkbox">HSC</label></th>
                            <td>
                       <input type="text" class="form-control" required>
                       </td>
                       <td>
                       <input type="text" class="form-control" required>
                       </td>
                       <td>
                       <input type="text" class="form-control" required>
                       </td>
                       <td>
                       <input type="text" class="form-control" required>
                       </td>
                       <td>
                       <input type="text" class="form-control" required>
                       </td>
                       <td>
                       <input type="text" class="form-control" required>
                       </td>
                        </tr>
                        <tr>
                        <th><label><input type="checkbox">Diploma</label></th>
                               <td>
                       <input type="text" class="form-control">
                       </td>
                       <td>
                       <input type="text" class="form-control">
                       </td>
                       <td>
                       <input type="text" class="form-control">
                       </td>
                       <td>
                       <input type="text" class="form-control">
                       </td>
                       <td>
                       <input type="text" class="form-control">
                       </td>
                       <td>
                       <input type="text" class="form-control">
                       </td>
                    </tr>
                        <tr>
                         <th><label><input type="checkbox">UG</label></th>
                           <td>
                       <input type="text" class="form-control">
                       </td>
                       <td>
                       <input type="text" class="form-control">
                       </td>
                       <td>
                       <input type="text" class="form-control">
                       </td>
                       <td>
                       <input type="text" class="form-control">
                       </td>
                       <td>
                       <input type="text" class="form-control">
                       </td>
                       <td>
                       <input type="text" class="form-control">
                       </td>
                        </tr>
                        
                        <tr>
                         <th><label><input type="checkbox">PG</label></th>
                           <td>
                       <input type="text" class="form-control">
                       </td>
                       <td>
                       <input type="text" class="form-control">
                       </td>
                       <td>
                       <input type="text" class="form-control">
                       </td>
                       <td>
                       <input type="text" class="form-control">
                       </td>
                       <td>
                       <input type="text" class="form-control">
                       </td>
                       <td>
                       <input type="text" class="form-control">
                       </td>
                        </tr>
                        
                        <tr>
                             <th><label><input type="checkbox">Others</label></th>
                               <td>                       
                       <input type="text" class="form-control">
                       </td>
                       <td>
                       <input type="text" class="form-control">
                       </td>
                       <td>
                       <input type="text" class="form-control">
                       </td>
                       <td>
                       <input type="text" class="form-control">
                       </td>
                       <td>
                       <input type="text" class="form-control">
                       </td>
                       <td>
                       <input type="text" class="form-control">
                       </td>
                        </tr>
                        
                     
                   </tbody>
                </table>
                <form>                    
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border" style="color: white" >Experience Details</legend>
                        <div class="row">
                            <div class="col-lg-3">
                                <label>Total Experience: </label><select class="form-control">
                                <option>--Year--</option>
                                <option>Fresher</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                </select>
                            </div>
                            
                            <div class="col-lg-3" style="padding-top:20px">
                                <select  class="form-control">
                                <option>--Month--</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                </select>
                            </div>
                        
                            <div class= "col-lg-3">
                           <label> Current Annual Salary: </label>
                                <select  class="form-control">
                                <option>--lakhs--</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                    <option>13</option>
                                    <option>14</option>
                                    <option>15</option>
                                    <option>16</option>
                                    <option>17</option>
                                    <option>18</option>
                                </select>
                               </div>
                            
                            <div class="col-lg-3" style="padding-top:20px">
                                <select  class="form-control">
                                <option>--Thousands--</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                </select>
                               </div>
                            </div>
                       
                        <br>
                        
                        <div class="row">
                        <div class="col-lg-4">
                        <label>Functional Area:</label><select  class="form-control">
                            <option>--Select--</option>
                            </select>
                            </div> 
                            
                            
                            <div class="col-lg-4">
                        <label> Current Industry: </label><select  class="form-control">
                            <option>--Select--</option>
                            </select>
                            </div>
                              
                        </div>
                    
                        <br>
                        <div class="row">
                        <div class="col-lg-4">
                            <label>Key Skills:</label><textarea class="form-control"></textarea>
                        </div>
                        </div>
                    </fieldset>
                    </form>
                <br>
                 <div class="row">
                <div class="col-lg-2">
                <input type="submit" class="btn btn-primary">
                <a type="button" class="btn btn-primary" href="#Career">Next</a>
                    </div>                
                </div>
               </div>    
            </div>
        </div>
    </body>

