
  <body>
           <div class="container">
            <div class="jumbotron wallcolor">
            <form class="form-group">
            <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6" >    
                Firstname:<span><input type="text" class="form-control" placeholder="Firstname" required></span>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              Lastname: <span><input type="text" class="form-control" placeholder="Lastname" required></span>
                </div>
               
            </div>
                <br>
          <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    Fathername:
                    <span><input type="text" class="form-control"  placeholder="Fathername" required>
                    </span>
              </div>
                <div class="col-lg-6 col-md-6 col-sm-6">    
                    Date of Birth:
                        <span><input type="text" class="form-control" placeholder="Date of Birth" required>
                        </span>
              </div>
                    
             </div>
                <br>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                    Address:<span>
                    <textarea  class="form-control" placeholder="Address" required>
                    </textarea>
                    </span>
                    </div>   
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        Sex:<span><select class="form-control">
                        <option>--Select--</option>    
                        <option value="Male">
                        Male
                    </option>
                    <option value="Female">
                        Female
                    </option>
                    </select>
                    </span>
                </div> 
                </div>
                <br>
                <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-6 ">
                    Mobile:<span><input type="number"  placeholder="Mobile" class="form-control"></span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                     Landline:<span><input type="number" placeholder="Landline" class="form-control"></span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                    Email:<input type="email" class="form-control" placeholder="Email" required>
                    </div>
                     <div class="col-lg-6 col-md-6 col-sm-6" style="padding-top:35px">
                        <input type="checkbox" >Send Email Me
                    </div>
                </div>
                <br>
                    <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        Mother Tongue:
                        <span>
                        <select class="form-control">
                        <option>--Select--</option>
                        <option>Telugu</option>
                        <option>Tamil</option>
                        <option>Hindi</option>
                        <option>Marati</option>
                        <option>Urudu</option>
                        <option>Bengali</option>
                        </select>
                        </span>    
                        </div>
                    </div>
                
                
    </form>
                <form>
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border" style="color: white">
                    Languages Known
                    </legend>
                   <div class="col-lg-2"> <input type="checkbox">English</div>
                    <div class="col-lg-2"><input type="checkbox">Telugu</div>
                    <div class="col-lg-2"><input type="checkbox">Tamil</div>
                    <div class="col-lg-2"><input type="checkbox">Hindi</div>
                    <div class="col-lg-2"><input type="checkbox">Kannada</div>
                    <div class="col-lg-2"><input type="checkbox">Malayalam</div>
                    </fieldset>
                </form>
                <br>
                
                <div class="row">
                <div class="col-lg-2">

                        <a type="button" href="#Education" class="btn btn-primary ">Next</a>
                    </div>
                </div>
    </div>
</div>
</body>